<div class="d-none">
    <div class="Title"><%- title %></div>
    <div class="Start-Time"><%- starttime %></div>
    <div class="End-Time"><%- endtime %></div>
    <div class="members"><%- members %></div>
</div>