<%- include('partials/header') %>
<body bg-secondary bg-gradient>
<!-- navbar header -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbar">
            <%- include('partials/navlinks') %>
          </div>
    </div>
</nav>

<!-- image -->
<section id="about">
<div class="container mt-4">
    <img src="./assets/desk1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h1>Interview Portal</h1>
    </div>
</div>
</body>